<h2>Latest posts:</h2>

<br/>

<% @results.each do |result| %>
	<p>
			<%= result['content'] %>
	</p>

	<p>
		Added: <%= result['created_date'] %>
	</p>

	<p>
		<a href="/details/<%= result['Id'] %>">Comment</a>
	</p>

	<hr/>
<% end %>